@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    background: black;
}

.container h1 {
    color: white;
}