* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
    color: white;
}

html,body { min-height:100%; }

body {
    background: linear-gradient(to bottom right, darkblue, lightblue);
}

a {
    color: aqua;
}

@media screen and (min-width: 400px) {
    body {
        margin: 0 150px;
    }
}

@media not screen and (min-width: 400px) {
    body {
        margin: auto 25px;
    }
}

@media screen and (min-height: 200px) {
    body {
        margin-top: 50px;
    }
    h1.title, h2.description, h3.description {
        margin-bottom: 25px;
    }
    div.socials {
        margin: 25px 0;
    }
}

@media not screen and (min-height: 200px) {
    body {
        margin-top: 25px;
    }
    h1.title, h2.description, h3.description {
        margin-bottom: 5px;
    }
    div.socials {
        margin-top: 5px;
    }
}

h1.title, h2.description, h3.description, div.socials, div.contributions-title {
    text-align: center;
}

img.contributions {
    width: 100%;
}

div.socials a {
    background: lightskyblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}